# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# Data files
*.csv
*.tsv
*.json
*.h5
*.pkl
*.pickle

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
